body {
  margin: 0;
  padding: 0;
  background-color: rgba(32 , 122 , 92 , 0.733);
}

header {
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Courier New', Courier, monospace;
  min-width: 50%;
  min-height: 50%;
}

p {
  margin-top: 1px;
  text-align: center;
  color: whitesmoke;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  flex-direction: column;
}

#texto-tarefa {
  border-radius: 1em;
  height: 30px;
  margin-right: 5px;
  width: 300px;
  text-align: center;
  font-size: 20px;
  color: rgb(71 , 67 , 67);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Courier, monospace;
}

.botao {
	border-radius: 1em;
	height: 35px;
	width: 190px;
	margin-right: 10px;
	font-size: 16px;
	font-weight: 400;
	color: white;
	background-color: rgba(59 , 31 , 134 , 0.466);
  justify-content: space-around;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Courier, monospace;
}

#botao-extra1, #botao-extra2 {
  margin-top: 10px;
}

#lista {
  width: 100%;
  display: flex;
  justify-content: center;
}

ol {
  align-items: center;
  padding: 20px;
  text-align: left;
  margin-top: 50px;
  padding-left: 50px;
  width: 200px;
  height: fit-content;
  border-radius: 1em;
  font-size: 20px;
  font-weight: 600;
  color: rgb(215 , 191 , 219);
  background-color: rgba(67 , 52 , 109 , 0.541);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Courier, monospace;
}

li {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Courier, monospace;
  line-height: 35px;
  color: white;
  font-weight: 500;
}